extends layout

block content
  h1= title
  - let fishes=results
  div(class="container-fluid mt-3")
  div(class="row")
    each fish,index in fishes
        div(class="col-sm-4 bg-info m-1 p-3" style=("font-weight:bolder")  onclick=`buy(${index})`) #{fish.fishname} - #{fish.habitat} - #{fish.classification} - #{fish.price}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
  