extends layout

block content
    h1= title

    - let fishid = toShow._id
    - let fishname = toShow.fishname
    - let classification = toShow.classification
    - let habitat = toShow.habitat
    - let price = toShow.price
    div
        div.row
            div(class='costumeAttr mr-3') Fish ID is:
            div(id="fishid") #{fishid}
        div.row
            div(class='costumeAttr mr-3') Fish Name is:
            div #{fishname}
        div.row
            div(class='costumeAttr mr-3') Fish Classification is:
            div #{classification}
        div.row
            div(class='costumeAttr mr-3') Fish Habitat is:
            div #{habitat}
        div.row
            div(class='costumeAttr mr-3') Fish Cost is:
            div #{price}
        div.row
            button(class='btn btn-danger btn-md m-auto'  type="submit" onclick=`deleteFish()`) Delete

    script.
        function deleteFish() {
            let val=document.getElementById("fishid").innerHTML;
            console.log(val)
            // TODO do something here to show user that form is being submitted
            fetch('/resource/fishes/'+ val, {
                method: 'DELETE'
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                 // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        };